#nav-bar{
    height: 80px;
    background: #00a087;
    color: #e8fdff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    padding-left: 2em;
    padding-right: 2em;
}

#nav-bar .logo {
    margin-left: 2em;
    margin-right: 2em;
    width:80px; 
    height:80px;
  }
  
#nav-bar .header {
    font-size: 2em;
    position: relative;
    top:-20px; 
  }

#compose{
   margin-top:30px;
   margin-right: 10%;
   float: right;
    background: rgba(124, 124, 124, 0.5);
    border: white solid 1px;
    color: white;
    padding:10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
#compose:hover{
    background: rgb(66, 47, 236);
    border: rgb(66, 47, 236) solid 1px;
    color: black;
    transition: 0.7s all;
}

