#nav-bar{
    height: 80px;
    background: #00a087;
    color: #e8fdff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

#nav-bar .logo {
    margin-left: 2em;
    margin-right: 2em;
    width:80px; 
    height:80px;
  }
  
#nav-bar .header {
    font-size: 2em;
    position: relative;
    top:-20px; 
  }